<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.HolidayExtras.cordova.plugin.android.NativeDatePicker"
    version="0.0.2">
    <name>NativeDatepicker</name>
    <description>Cordova Android Date Picker</description>
    <license>Apache 2.0</license>
    <keywords>cordova,date,picker,android</keywords>
    <repo>https://github.com/hx-markterry/cordova-plugin-datepicker</repo>
    <issue>https://github.com/hx-markterry/cordova-plugin-datepicker/issues</issue>

    <js-module src="www/datePickerPlugin.js" name="NativeDatePicker">
        <clobbers target="NativeDatePicker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeDatePicker" >
                <param name="android-package" value="com.HolidayExtras.cordova.plugin.android.nativedatepicker.NativeDatePicker"/>
            </feature>
        </config-file>

        <source-file src="src/android/NativeDatePicker.java" target-dir="src/com/HolidayExtras/cordova/plugin/android/nativedatepicker" />
    </platform>

</plugin>